@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/** color https://colorhunt.co/palette/f9f7f7dbe2ef3f72af112d4e 
 * #F9F7F7
 * #DBE2EF
 * #3F72AF
 * #112D4E 
 * 배색 : https://www.color-hex.com/
 */

body {
  background-color: #f9f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans KR';
  min-height: 100vh;
  margin: 0px;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

.Page {
  height: calc(100vh - 60px);
  overflow-y: scroll;
  /* IE and Edge */
  /* -ms-overflow-style: none; */
  /* Firefox */
  /* scrollbar-width: none; */
}

.Page::-webkit-scrollbar {
  width: 5px;
  /* Chrome, Safari, Opera */
  /* display: none; */
}

/* Track */
.Page::-webkit-scrollbar-track {
  /* background: #e7eaed; */
  background: transparent;
}

/* Handle */
.Page::-webkit-scrollbar-thumb {
  background: #9fabb8;
  border-radius: 10px;
  min-height: 10px;
}

/* Handle on hover */
.Page::-webkit-scrollbar-thumb:hover {
  background: #8896a6;
}

.Footer {
  padding-top: 4px;
  height: 50px;
}

.Home {
  background-color: #dbe2ef;
  margin: 0px;
}
